
page-home {
    ion-content{
        .flex-container{

        }
        .flex-container0 {
            display: flex;
            align-items: stretch;
           background-color: rgb(189, 189, 189);
            background-size: cover;
            height: 6vh;
          }

          .flex-container0> div {
            background-color: rgb(255, 255, 255);
            color: rgb(22, 18, 85);
            width: 10%;
            margin: 10px ;
            text-align: center;
            //line-height: 75px;
            font-size: 13px;
            //border-radius: 10px;
           box-shadow: 0px 5px 15px rgb(0, 0, 0);
          }

          .flex-container1 {
            background-image: url("../assets/imgs/fashion-men-s-individuality-black-and-white-157675.jpeg");
            background-size: cover;
            display: flex;
            align-items: stretch;
            height: 40vh;
            width: 100%;
            margin-top: 2%;
            flex-direction: column;

          }
          .flex-container1> div{
            background-color: rgb(255, 255, 255);
             margin-top: -25%;
           // line-height: 40px;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;

          }
      .flex-container2{
        //background-color: rgb(201, 134, 134);
        display: flex;
        align-items: stretch;
        //height: 50vh;
        margin: auto;
        width: 90%;
    //border: 3px solid #73AD21;
        flex-direction: column;
        margin-top: auto;

      }

      .flex-container2> div{
        margin-top: -50px;
        background-color: rgb(105, 105, 105);
        color: white;
        //width: 200px;
       // height: 5%;
        margin: 10px;
       //margin: auto;
        line-height: 20px;
        font-size: 10px;
        flex: 1;
       padding: 10px;

      }
      .flex-container2> .flex-box{
        width:240px; height: 25vh; margin-left: 40px;
        flex-direction: row;
      }
      .flex-contain{
        background-color: rgb(126, 116, 116);
        display: flex;
        align-items: stretch;
        height: 10vh;
        flex-direction: row;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
      }
.flex-contain>.flex2> .div1{
    background-color: rgb(255, 255, 255);
    color: white;
    width: 35px;
    height: 40px;
    margin: 10px;
    margin-top: 70px;
    text-align: center;
    line-height: 75px;
    font-size: 10px;
}
.flex-contain>.flex1> .div2{
    background-color: rgb(255, 255, 255);
    color: white;
    width: 40px;
    height: 40px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 10px;
}
.flex1{
    background-color: none;
    display: flex;
    align-items: stretch;
    width: 99.99%;
    height: 10vh;
    flex-direction: row;
}
.flex2{
    background-color: none;
    display: flex;
    align-items: stretch;
    width: 99.99%;
    height: 10vh;
    margin-top: 10px;
    flex-direction: row;
}

      }
    }

